.list{
    overflow-y:scroll;
    height: 100vh;

}
.list__header{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    color: black;
    border:1px solid #b1b1b1;
}
ol>div {
    font-weight: normal;
    font-size:1em
}
.active {
    font-weight: bold;
    border-width:2px;
    border-style:dotted;
}
