.section__container  {

    border-bottom: 1px solid #cccccc;
    margin-left: 1%;
    margin-right: 1%;

}
@media (max-width: 1024px) {
    .section__container {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.section__container {

}
.section__header {
    position: relative;
    display: flex;
    justify-content: space-between;

    flex-wrap:wrap;
    flex-direction: column;

    min-height: 50px;
    min-width: 400px;
    margin:5px;
    cursor: pointer;
}

.section__header:hover {
    background: #3700B3;
    border-radius: 50px;
}
.section__header span {


}
.section__header__title {


    font-size: 0.5em;
    font-weight: 700;
}
.section__body {
    overflow-y:auto;



    font-size: 0.4em;
    font-weight: 500;
    padding-left: 0;
}

.section__body li {
    list-style: none;

}
.section__body li:hover {
    list-style: none;
    background: #3700B3;
    border-radius: 50px;
}

.expanded {
    display: block;
}

.expand__button{
    cursor: pointer;
    top: 13px;
    right: 16px;
    font-size: 24px;
    color: #29303b;
}


.arrow {
    position: absolute;
    top: 13px;
    right: 16px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.time {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33em;
}
