.list{

    height: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}
.list__header{

    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    display: flex;
    justify-content: space-between;
    padding:16px 0;
    color: black;
    border-bottom:1px solid #b1b1b1;
    margin-left: 1%;
    margin-right: 1%;
}
@media (max-width: 1024px) {
    .list {
        margin-left: 10%;
        margin-right: 10%;
    }
}
.list__body {
    height: 91vh;
    overflow-y:scroll;
}

@media (max-width: 1024px) {
    .list__body {
        height: 30vh;
    }
}
ol>div {
    font-weight: normal;
    font-size:1em
}
