.player {
    position: relative;
    max-height: 100vw;
    width: 100%;
}

video{
    max-height: 100vh;
}
video:focus {
    outline: none;
}

.no__video {
    color:#000;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
