.App {
  text-align: center;

}

body {
  height: 100%;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  .parent {
    display: grid;
    grid-template-columns: 1fr minmax(150px, 25%) ;
  }



@media (max-width: 1024px) {
  .parent{
    display: flex;
    flex-direction: column;

  }

}

.parent>div {

  margin: 5px;
}

.list{
  height: 90vh;
  overflow: scroll;
}

h6{
  font-weight: normal;
}



li {
  cursor: pointer;
}

h6.active {
  font-weight: bold;
  border-width:2px;
  border-style:dotted;
}

.video-player--center-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  transition: all .2s ease;
  color: #f7f8fa;
  display: block;
  opacity: 1;
  cursor: pointer;
}


.video-player--center-button button {
  border: none;
  background-color: grey;
}
.video-player--center-button img {
  opacity: .8;
}



::cue {
  background-color: transparent;
  color: yellow;
  font-size: 1em;
  text-outline: #f7f8fa 3px;
}
