
.App {


}

body {
  height: 100%;

}

.App-header {
  background-color: #ffffff;

  font-size: calc(10px + 2vmin);
  color: white;
}



h6{
  font-weight: normal;
}



li {
  cursor: pointer;
}



::cue {
  background-color: transparent;
  color: yellow;
  font-size: 1em;
  text-outline: #f7f8fa 3px;
}


* {
  box-sizing: border-box;
}

.video-js {
  position: inherit !important;
}
