@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;

}

body {

  height: 100%;
  background-color: #121212;
  color:white
}

.App-header {


  font-size: calc(10px + 2vmin);
  color: white;
}



h6{
  font-weight: normal;
}



li {
  cursor: pointer;
}



::cue {
  background-color: transparent;
  color: yellow;
  font-size: 1em;
  text-outline: #f7f8fa 3px;
}


* {
  box-sizing: border-box;
}

.video-js {
  position: inherit !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
